<%= form_for @playground, :html => { :id => 'playground_form', :multipart=>true }, :remote => true do |f| %>

  <% if @playground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playground.errors.count, "error") %> prohibited this playground from being saved:</h2>

      <ul>
      <% @playground.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-content pop2">
    <div class="modal-body">
    <h3>House</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">House name & no</th>
          <td><%= f.text_field :name, :class=>"form-control" %></td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td><%=text_area(:playground, :address, cols: 38, rows: 3)%></td>
        </tr> 
        <tr>
          <th scope="row">City</th>
          <td><%= f.text_field :city, :class=>"form-control" %></td>
         </tr>
          <tr>
          <th scope="row">Pincode</th>
          <td><%= f.text_field :postal_code, :class=>"form-control" %></td>
         </tr>
          <tr>
          <th scope="row">State</th>
          <td><%= f.text_field :state, :class=>"form-control"%></td>
         </tr>
          <tr>
          <th scope="row">Country</th>
          <td><%= f.text_field :country, :class=>"form-control" %></td>
         </tr>
         <tr>
          <th>Photo1</th>
          <td><%= f.file_field :logo %></td>
         </tr>
         <tr>
          <th>Photo2</th>
          <td><%= f.file_field :picture %></td>
         </tr>
      </tbody>
    </table>
     <p align="center"><a href="javascript:void(0);" class="btn btn-success" onclick="start_store();">Generate Address Bar</a></p>
  
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :street_number %>
  <%= f.hidden_field :route %>

  <%#= f.submit class: "btn btn-lg btn-primary", :value=>"Generate addressbar" %>
    </div>
  </div>
  
<% end %>




        
        
  
      









