<p id="notice"><%= notice %></p>



<p>
  <strong>House Name & No:</strong> 
  <%= @playground.name %>
</p>

<p>
  <strong>Address:</strong> 
  <%= @playground.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @playground.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @playground.state %>
</p>
<p>
  <strong>Country:</strong>
  <%= @playground.country %>
</p>
<p>
  <strong>Postal code:</strong>
  <%= @playground.postal_code %>
</p>

<%= link_to 'Edit', edit_playground_path(@playground), class: "btn btn-lg btn-primary", :remote =>true  %>
<%= link_to raw('Destroy <i class="icon-trash"></i>'), @playground, class: "btn btn-lg", method: "delete", data: { confirm: 'Are you sure?' }, :remote =>true %>
